{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

<div class="signup-container">
    <div class="signup-card">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <a href="{% url 'my_profile' %}" class="btn btn-sm btn-outline-light">
                ← Back
            </a>
            <h2 class="mb-0">Edit Profile</h2>
            <span></span>  
        </div>

        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}

                {% if form.errors %}
                <div class="form-errors">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li style="color: red;"><strong>{{ field.label }}:</strong> {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">Save Changes</button>
        </form>
    </div>
</div>
<br>
{% endblock %}
