{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <br>
        <h2>Upcoming Events</h2>
        <br>
        <ul>
            {% for event in events %}
                <li>
                    <a href="{% url 'event_detail' event.id %}">{{ event.name }}</a>
                    - {{ event.date_time|date:"D, M d Y H:i" }}
                </li>
            {% empty %}
                <p>No events available.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
