{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container d-flex justify-content-center align-items-center vh-100 pb-5">
        <div class="card p-4 bg-dark text-white" style="width: 400px;">
            <h2 class="text-center">Create Event</h2>
            <br>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Create Event</button>
            </form>
        </div>
    </div>
    {% else %}
        <p>You must <a href="{% url 'login' %}">log in</a> to create an event.</p>
    {% endif %}
{% endblock %}
