{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <h2>My Event Chats</h2>
    <br>
    {% if events %}
        <ul>
            {% for event in events %}
                <li>
                    <a href="{% url 'event_chat' event.id %}">{{ event.name }}</a> - {{ event.start_time|date:"D, M d Y H:i" }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not a part of any events yet.</p>
    {% endif %}
</div>
{% endblock %}
